

.flex {
        display: flex;
      }
      
      .grid{
        display: grid;
      }
      
      .justify-center {
        justify-content: center;
      }
      
      .space-evenly {
        justify-content: space-evenly;
      }
      
      .align-center {
        align-items: center;
      }
      
      .flex-column {
        display: flex;
        flex-direction: column;
      }
      
      .clean-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }